
html{
  cursor: url('../img/NormalSelect.png'), auto;
}
html a{
  cursor: url('../img/LinkSelect.png'), auto;
}

body {
  background-color: #A5BAD3;
  background-image: url('../img/movestarbackground.gif');
  background-size: 5%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'basiic';
}

h1 {
  font-family: 'Daydream'
}

a:link, a:visited{
  color: #025fd1;
}

hr {
  margin: 0px;
  border: 1px solid #a5bad35e;
}

.main {
  background-color: #f9f9f9;
  height: 1260px;
  width: 750px;
  /*width: 39.7%;*/
  margin: auto;
  margin-top: 100px;
  margin-bottom: 300px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 55px;
  border-image: url('../img/border.jpg');
  /* top | right | bottom | left */
  border-image-slice: 40 40 41 40;
  border-image-width: 40px;
  opacity: 1;
  line-height: 20px;
  transform: translate3d(0,0,0);
}

#pageTitle {
  position: absolute;
  color: #fff;
  top: 6px;
  left: 9px;
}

#headerBox {
  width: 100%;
  height: 150px;
  border: 6px solid #A5BAD3;
  border-style: outset;
  margin-bottom: 20px;
  box-sizing: border-box
}
#headerImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#headerArtemis {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  top: 120px;
  transform: rotate(-10deg);
}

#welcomeBox {
  top: 0;
  height: 200px;
  width: 570px;
  border: 3px solid #A5BAD3;
  border-style: dashed;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
}
#welcomeBox p {
  margin-left: 15px;
  margin-right: 10px;
}
#welcomeBox img {
  margin-left: 8px;
  margin-right: 8px;
  transform: translateY(6px);
}

#flyHeart {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate3d(710px, 190px, 0);
}
#marsCloud {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate3d(-70px, 430px, 0);
}
#marsCloud2 {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate3d(690px, 570px, 0);
}

#navBox {
  top: 0;
  height: 200px;
  width: 100px;
  border: 3px solid #A5BAD3;
  border-style: dashed;
  box-sizing: border-box;
  display: block;
  margin-left: auto; 
  margin-right: 0;
  margin-bottom: 20px;
}
#navBox img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  outline: 4px solid #A5BAD3;
  outline-style: outset;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 13px;
  display: block;
}

#buttonDivider {
  background-color: #a5bad338;
  box-sizing: border-box;
  outline: 2px solid #A5BAD3;
  outline-style: outset;
  margin-bottom: 20px;
}
#buttonDivider img{
  box-sizing: border-box;
  margin-left: 17px;
  margin-top: 5px;
}

#linksBox {
  box-sizing: border-box;
  height: 260px;
  width: 170px;
  border: 3px solid #A5BAD3;
  border-style: dashed;
  float: left;
}
#linksBox h2 {
  color: #ec1035;
  text-align: center;
  transform: translateY(-5px);
}
#linksBox p {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
}
#titleShade {
  box-sizing: border-box;
  position: absolute;
  transform: translate3d(-3px,-3px,0);
  height: 50px;
  width: 170px;
  background-color: #a5bad342;
  border: 3px solid #A5BAD3;
  border-style: dashed;
  margin-bottom: 109%;
}
#linkTitleImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  content: url("../img/hellogira1.gif");
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
#linksBoxBlur {
  box-sizing: border-box;
  position: absolute;
  transform: translate3d(1px,-17px,0);
  height: 205px;
  width: 162px;
  filter: blur(7px);
  /*backdrop-filter: blur(3px);*/
}
#lockOverlay {
  position: absolute;
  transform: translate3d(24px,15px,0);
  backdrop-filter: blur(0px);
  vertical-align: middle;
}
#lockOverlay img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  transform: translate3d(7px,10px,0);
  height: 80px;
  width: 100px;
}

#todoBox h4{
  margin: 2px;
  text-align: center;
  transform: translateY(0px);
  position: static;
  color: #16ec0f;
}
#todoBox p {
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  transform: translateY(-5px);
}
#todoImg img {
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

#guestBookTitle {
  text-align: center;
  transform: translateY(-15px);
}
#guestBookTitle a:link, #guestBookTitle a:visited{
  color: #fa0ada;
}
#guestBookImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  text-align: center;
  margin-left: 20%;
  transform: translateY(-15px);
  height: 80%;
  width: 60%;
  content: url(../img/guestart.gif);
}

#logTitle {
  color: #0931e4;
  position: absolute;
  width: 203px;
  background-color: #f9f9f9;
  height: 29px;
}
#logTitle p { 
  margin-top: 5px;
  margin-left: 5px;
}

#creditsTitle {
  color: #cfb025;
  position: absolute;
  width: 203px;
  background-color: #f9f9f9;
  height: 29px;
}
#creditsTitle p { 
  margin-top: 5px;
  margin-left: 5px;
}
#creditsBox p{
  margin-bottom: 10px;
}
#creditsBox img{
  vertical-align: middle;
}

#sailorSit {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  transform: translateY(-83px);
}

#cinniSit {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  transform: translate3d(250px, -77px, 0);
}

#astraDivBox {
  width: 100%;
  height: 160px;
  border: 6px solid #cea5d3;
  border-style: outset;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  margin-top: 5px;
}
#astraImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#hitCounter {
  box-sizing: border-box;
  height: 160px;
  width: 360px;
  border: 3px solid #A5BAD3;
  border-style: dashed;
  float: left;
  margin-left: 7%;
  margin-top: 10%;
}
#hitCounter p {
  color: #1808fa;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

#tarotL {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  float: left;
  margin-left: 50px;
  margin-top: 70px;
} 
#tarotR {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  float: right;
  margin-right: 50px;
  margin-top: 70px;
}

#footerBar {
  margin-left: 0px;
  position: fixed;
  bottom: 6px;
}
#footerBar img {
  margin-left: 1px;
  max-width: 19%;
}

#endImg {
  position: absolute;
  left: 47.3%;
  transform: translateY(-200px);
}
#endImg img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  height: 100px;
  width: 100px;
  object-fit: fill;
}

#constructionImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#homeImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navLinks {
  margin-top: 5px;
  margin-bottom: 11; 
  font-size: large; 
  text-align: center;
  color: #EBD7A9;
}

.contentBox {
  box-sizing: border-box;
  height: 120px;
  width: 225px;
  border: 3px solid #A5BAD3;
  border-style: dashed;
  margin-left: 32px;
  float: left;
  margin-bottom: 20px;
  overflow-y: scroll;
  margin-top: 0;
}
.contentBox p {
  margin: 2px;
}
.contentBox img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.todoBullet {
  content: url("../img/scribbleland_Pixel44.gif");
  margin-right: 5px;
  width: 20px;
  height: 20px;
  vertical-align:middle;
}

.hitImg {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  padding-top: 8%;
}

.heartBanner {
  background-repeat: space;
  background-image: url("../img/hearts_blinkie.gif");
  background: url("../img/hearts_blinkie.gif") repeat space;
  background-size: 20%;
  margin-bottom: 15px;
}

.noMargin {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Fonts */
@font-face {
  font-family: "dogica";
  src: url("../fonts/dogica.ttf");
}
@font-face {
  font-family: "dogica";
  src: url("../fonts/dogicabold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Daydream";
  src: url("../fonts/Daydream.ttf");
}
@font-face {
  font-family: "basiic";
  src: url("../fonts/basiic.ttf");
}
@font-face {
  font-family: "RomanceA";
  src: url("../fonts/RomanceA.ttf");
}

/* Fade in and Up on webpage load animation */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
  opacity: 0
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* Rainbow Text */
.rainbow-text{
	position: relative;
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
  overflow: hidden;
  
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 8px 10px 12px;
  margin: -8px -10px -12px;
}
.rainbow-text::before{
	content: "";
	position: absolute;
	top:0;right:0;bottom:0;left:-100%;
	background: white repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50.0%);
	mix-blend-mode: screen;
	pointer-events: none;
  animation: move 5s linear infinite;
}

@keyframes move{
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}

@supports not (mix-blend-mode: multiply) {
	.rainbow-text{
	-webkit-text-fill-color: transparent;
	background-clip: text !important;
	background: white repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
    text-shadow: none;
	}
	.rainbow-text::before{ content: none; }
}